# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^(.versionbot/|CHANGELOG.md|VERSION)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    args: [--allow-multiple-documents]
  - id: check-added-large-files

- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    args: ["-x"]           # Follow 'source' directives
    require_serial: true   # Better for scripts that source each other

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.36.0
  hooks:
  - id: check-compose-spec  # This automatically has the correct regex and schema
    name: Validate Docker Compose files
    files: '(^|/)(docker-)?compose(\.[A-Za-z0-9_-]+)*\.ya?ml$'
